/* Full screen image    
/*******************************/
#fireWrapper {
  background-image: url(../img/Fire-And-Smoke.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

/* Page Images    
/*******************************/
#indexLogo {
	margin-top: 20px;
}

.indexPgImg,
.aboutPgImg {
  border: 5px solid rgb(240, 87, 45);
  border-radius: 50%;
}
 
/* Menu gallery of images  
/*******************************/
.img {
  width: 400px;
  width: 300px;
  border-radius: 10%;
  margin-right: 2%;
  border: 5px solid #333;
  overflow: hidden;
}  

/* Contact page image  
/*******************************/
.contactPgImg {
  border: 5px solid rgb(240, 87, 45);
  border-radius: 3%;
}

.contactMap {
  width: 50%;
}

.aboutPgImg,
.contactPgImg,
.contactMap {
  display: block;
 }

.aboutPgImg,
.img,
.contactPgImg,
.contactMap,
.contactInfo p {
  margin-top: 25px;
} 

.aboutPgImg,
.contactPgImg,
.contactMap {
  margin-left: auto;
  margin-right: auto
}

/* Layout
/*******************************/
#pizzaImg01 {
  border-radius: 10%;
  border: 1px solid black;
} 


/* Page informatopm "info" div section
/*******************************************/
.indexInfo,
.menuInfo {
  background-color: rgb(240, 87, 45);
  border: 2px solid black;
}

.indexInfo {
  margin-top: 20px;
  padding-bottom: 3px;
} 
.indexInfo h2 {  
  font-weight: 600;
}
.indexInfo p {
  font-weight: 500;
}
.menuInfo {
  width: 80%;
  margin: 15px auto;
}
  
.menuInfo p {
  text-align: justify;
  margin: 0% auto;
  padding: 0 3%;
}
.menuInfo .price {
  text-align: center;
  font-size: 1.2em;
}
.menuInfo .centerP1 {
  font-style: italic;
  margin: 0% auto;
} 

.indexInfo h2,
.indexInfo p,
.menuInfo h1, h2, p1,
.menuInfo h3,
.menuInfo .price,
.menuInfo .centerP1 {
  color: black;
}

.contactInfo p {
  padding: 0 3%;
}

.contactPgImg p,
.menuInfo h1, h2, p1,
.menuInfo h3,
.menuInfo .oneLine,
.menuInfo .centerP1,
.contactInfo p,
.footer,
#overlay {
  text-align: center;
}

/* Navigation   
/*******************************/
ul li.selected a {
  font-size: 125%;
}

/* Footer  
/*******************************/
.footerColor1 {
  color: White;
}
.footerColor2 {
  color: #333;
}

/* Picture Overlay Coding 
/*******************************/
#overlay {
  background:rgba(0,0,0,.8);
  width:100%;
  height:300%;
  position: fixed;
  top:0;
  left:0;
  display:none;
}

#overlay img {
  margin-top: 10%;
  max-width: 100%;
}

#overlay p {
  color:white;
}